*{
  padding: 0;
  margin: 0;
}

  @media (max-width: 450px){
      .projects-grid{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
          grid-gap: 2.5rem;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 6rem;
        }
  }

body {
  font-family: 'Segoe UI',sans-serif;
  background: white;
}

h1{
  font-size: 5rem;
  font-weight: 700;
}

.nav-head{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  padding: 20px 0;
  width: 100%;
  background: #cb2525;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.h2-section{
  font-family:'Raleway',sans-serif;
  color: white;
  max-width: 500px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.1rem solid white;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background-color:#FF47DA;
}


.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3.5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-title {
  font-size: 1.3rem;
  padding: 1.5rem 0.5rem;
  background-color: #303841;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section-profile > h2 {
  font-size: 3.5rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details{
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-shadow: 2px 2px 1px #1f1f1f;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.nav-head > ul > li {
  padding: 0 20px;
  list-style: none;
  display: flex;
  align-items: center;
}

h1,h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color: black;
  text-decoration: underline;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}


.navbar {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #cb2525;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
  color: #343a40;
}

.navbar-toggler {
  border: none;
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  background-color: #dee2e6;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #343a40;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #007bff;
}

.projects-section {
  padding: 5rem 0;
  background-color: #45567D;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-tile {
  text-align: center;
  margin: 1rem;
  transition: transform 0.2s ease-in-out;
}

.project-tile:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  border-radius: 5px;
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.project-title {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f5f5f5;
}

.contact-section {
  background-color: #f5f5f5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-color: #121619;
  background-image: linear-gradient(to bottom, #758798 0%, #554762c5 100%)
}

.section-profile {
  margin-bottom: 3rem;
}

.section-profile h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}

.section-profile p {
  font-size: 1.2rem;
  color: black;
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-details {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.welcome-section {
  padding: 5rem 0;
  text-align: center;
  background-color: #333;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #758798 0%, #1f252b 100%)
}

.welcome-section h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.welcome-section p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
  color: #FF0022;
}

@media (max-width: 768px) {
  .welcome-section h1 {
    font-size: 3rem;
  }

  .welcome-section p {
    font-size: 1.2rem;
  }
}

footer {
  padding: 1rem;
  background-color: #333;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact-details {
    font-size: 1.2rem;
  }
}